

.entete {
  background-color: rgb(178, 0, 0);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;

}

.titre {
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(151, 151, 165);
  color: white;
}

#titreProfil {
  padding-top: 0;
}

.localisationRayon {
  display: inline-block;
}

ion-input {
  border: solid 1px grey;
  border-radius: 5px 5px 5px 5px;
  max-height: 3vh;
}


.ion-padding {
  --padding-bottom: 0;
  --padding-top: 0;
  --padding-start: 15px;
}

.mbsc-row {
  padding-right: 10px;
}

.ion-margin-bottom {
  margin-bottom: 0;
}

.blocInputLabel {
  max-height: 7vh;
}

.boutonSave {
  margin-top: 30px;
}