.entete {
  background-color: rgb(178, 0, 0);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;

}

.titre {
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(151, 151, 165);
  color: white;
}

#titreProfil {
  padding-top: 0;
}

ion-input {
  border: solid 1px grey;
  border-radius: 5px 5px 5px 5px;
  max-height: 3vh;
}

.ion-padding {
  --padding-bottom: 0;
  --padding-top: 0;
  --padding-start: 12px;
  max-height:40% !important;
}

.mbsc-row {
  padding-right: 10px;
}

.ion-margin-bottom {
  margin-bottom: 0;
}

.blocInputLabel {
  min-height:50% !important;
}

.boutonSave {
  margin-top: 30px;
}

.blocInputLabel2 {
  display: inline-block;
  margin-bottom: 5px;
  width: 50%;
  max-height:40% !important;
}

#postuler {
  padding: 0.3em 1.2em;
  margin: 0 auto;
  box-sizing: border-box;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  height: 50px;
  display: block;
}