

.entete {
  background-color: rgb(178, 0, 0);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;

}

.titre {
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(151, 151, 165);
  color: white;
}

#titreProfil {
  padding-top: 0;
}

.localisationRayon {
  display: inline-block;
}




