<ion-header [translucent]="true">
  <ion-toolbar class="entete">
    <ion-searchbar color="light" id="search" search-icon="undefined" placeholder="Rechercher un profil"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" id="sticky">
    <ion-toolbar id="titreProfil">
      <ion-title class="titre"><b>{{dataService.data.length}} profils</b></ion-title>
    </ion-toolbar>
  </ion-header>

  <!--  Liste des annonces:-->

  <ion-card *ngFor="let annonce of dataService.data">
    <ion-item>
      <ion-avatar item-start>
        <img src='{{annonce.img}}'>
      </ion-avatar>
      <ion-label>
        <h2 class="nomSociete">{{annonce.nom}}</h2>
        <p>
          {{annonce.offre}}
          <br>
          <span>{{annonce.adresse}}</span>
        </p>
      </ion-label>
      <ion-icon id="flecheDroite" name="chevron-forward-outline" button="true" (click)="detailAnnonce(annonce)"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
