<ion-header [translucent]="true">
  <ion-toolbar class="entete">
    <ion-searchbar color="light" id="search" search-icon="undefined" placeholder="Rechercher un profil"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar id="titreProfil">
      <ion-title class="titre">Mes favoris</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
